<main class="background">
  <div class="star star1">
    <span style="color: Green;">
      <i class="fas fa-star fa-2x"> </i>
    </span>
  </div>
  <div class="star star2">
    <span style="color: Green;">
      <i class="fas fa-star fa-2x"> </i>
    </span>
  </div>
  <div class="star star3">
    <span style="color: Green;">
      <i class="fas fa-star fa-2x"> </i>
    </span>
  </div>
  <div class="star star4">
    <span style="color: Green;">
      <i class="fas fa-star fa-2x"> </i>
    </span>
  </div>
  <div class="star star5">
    <span style="color: Green;">
      <i class="fas fa-star fa-2x"> </i>
    </span>
  </div>
  <div class="star star6">
    <span style="color: Green;">
      <i class="fas fa-star fa-2x"> </i>
    </span>
  </div>
  <div class="star star7">
    <span style="color: Green;">
      <i class="fas fa-star fa-2x"> </i>
    </span>
  </div>
  <div class="star star8">
    <span style="color: Green;">
      <i class="fas fa-star fa-2x"> </i>
    </span>
  </div>
</main>
